.story-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.story-upper {
  margin-top: 30px;
  background-color: #0081a1;
  width: 95vw;
  text-align: center;
  padding: 10px; /* Added padding for spacing */
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.story-title {
  font-size: xxx-large;
  font-style: italic;
  font-family: "Pacifico", cursive;
}

.story-upper-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #0081a1;
}

.story-upper-left,
.story-upper-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px; /* Added padding for spacing */
  height: 600px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.story-upper-left {
  gap: 40px;
  width: 31.5%;
  padding-bottom: 30px;
}

.story-upper-right {
  width: 67.5%;
  display: flex;
  justify-content: center;
}

.user-profile-pics {
  background-color: rgba(255, 255, 255, 0.8);
  width: 80%;
  display: flex;
  justify-content: flex-start; /* Start from the left */
  padding: 10px; /* Added padding for spacing */
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: -15px;
}

.story-profile-pic-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: aqua;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#story-profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.story-profile-pic-container:hover{
  transform: scale(1.2);
}

.story-plus-users {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.story-plus-users p {
  margin-left: 5px;
}

.story-upper-right-inner {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 95%;
  height: 95%;
  overflow-x: auto;
  padding: 20px;
}

.story-username {
  font-size: xx-large;
  text-decoration: underline;
}

.story-upper-top-left {
  width: 95%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 10px;
}


.story-upper-bottom-left {
  padding: 10px;
  width: 100%;
  height: 70%;
  overflow-x: auto;
}

.story-comment-main {
  width: 95%;
  margin-top: 30px;
  background-color: #0081a1;
  overflow-x: auto;
  height: 500px;
  border-radius: 20px;
}

.indiv-comment-container {
  background-color: white;
  margin: 20px;
}

.story-comment-profile-pic-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: aqua;
  transition: transform 0.3s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.comment-content {
  padding-left: 30px;
}

.story-comment-profile-pic-container:hover {
  transform: scale(1.2);
}

.story-created-text {
  font-size: larger;
  font-weight: bold;
}

#story-comment-profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.story-comment-inner {
  background-color: white;
  display: flex;
  gap: 5px;
  align-items: center;
  padding-left: 20px;
  padding-top: 5px;
}

.story-comment-content {
  max-height: 150px;
  overflow-x: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}

.story-title-container {
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 20px;
}

.story-title-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.vote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  height: 80px;
  width: 2%;
  border: 2px solid black; /* Add this line for a black border */
}


.vote-upper,
.vote-mid,
.vote-lower {
  height: 33.33333333333333333333333333%;
  /* background-color: blue; */
  width: 100%;
}

.vote-upper,
.vote-lower {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.vote-upper:hover,
.vote-lower:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.story-divider {
  width: 80%;
  height: 2px;
  background-color: #0081a1;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}